In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('student.csv')

In [ ]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

#Data Preparation

In [ ]:
df_clean = df.dropna()

In [ ]:
print(df_clean)

    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.45       165.0
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ   19.0       ญ           วิศวะ  3.89       160.0
5          64006     กานต์  150.0     ชาย     Engineering  3.12       172.0
6          64007     กิตติ   21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป   23.0       M            Arts  3.34       163.0
9          64010      ดารา   21.0    หญิง           ศิลป์  3.56       167.0
12         64013     บุญมี   20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์   22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0         65.0                     15.0      2024-01-23
1         58.0                     20.0      2024-02-05
3         70.0                     10.0      2023-12-30
4         52.0                     30.0      2024-01-27
5         75.0                     12.0      2023-12-23
6         48.0                     35.0      2024-01-05
7         82.0                     18.0      2024-01-23
8         55.0                     22.0      2024-02-11
9         60.0                     28.0      2024-01-03
12        72.0                     24.0      2023-12-26
13        54.0                     19.0      2024-01-08
14        56.0                     26.0      2024-02-06
15        78.0                     14.0      2024-01-20
16        62.0                     21.0      2024-01-24

In [ ]:
df = pd.DataFrame(df)

In [ ]:
mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)

In [ ]:
mean_age

np.float64(28.470588235294116)

In [ ]:
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

In [ ]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts']:
        return 'ศิลปศาสตร์'
    else:
        return name

In [ ]:
df['คณะ_มาตรฐาน'] = df['คณะ'].apply(standardize_faculty)

In [ ]:
df['คณะ_มาตรฐาน']

0        วิทยาศาสตร์
1        วิทยาศาสตร์
2        วิทยาศาสตร์
3        วิทยาศาสตร์
4              วิศวะ
5        Engineering
6           วิศวกรรม
7         ศิลปศาสตร์
8         ศิลปศาสตร์
9         ศิลปศาสตร์
10       วิทยาศาสตร์
11       วิทยาศาสตร์
12             วิศวฯ
13      Liberal Arts
14               Sci
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17       วิทยาศาสตร์
18        ศิลปศาสตร์
19       วิทยาศาสตร์
Name: คณะ_มาตรฐาน, dtype: object

In [ ]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:
df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

In [29]:
print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - {df_no_outliers['อายุ'].mean():.2f}")

ขอบเขตล่าง - 16.625
ขอบเขตบน - 25.625

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - 20.88

#Feature Engineering

In [33]:
df_encoded = pd.get_dummies(df, columns=['คณะ'])

In [34]:
df_encoded

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,คณะ_มาตรฐาน,...,คณะ_Science,คณะ_คณะวิทยาศาสตร์,คณะ_วิทยาศาสตร์,คณะ_วิทย์,คณะ_วิศวกรรม,คณะ_วิศวกรรมศาสตร์,คณะ_วิศวฯ,คณะ_วิศวะ,คณะ_ศิลปศาสตร์,คณะ_ศิลป์
0,64001,สมชาย,20.000000,ชาย,3.21,170.0,65.0,15.0,2024-01-23,วิทยาศาสตร์,...,False,False,True,False,False,False,False,False,False,False
1,64002,สมหญิง,21.000000,หญิง,3.45,165.0,58.0,20.0,2024-02-05,วิทยาศาสตร์,...,False,False,False,True,False,False,False,False,False,False
2,64003,NaN,28.470588,Male,3.67,175.0,NaN,25.0,2024-01-13,วิทยาศาสตร์,...,True,False,False,False,False,False,False,False,False,False
3,64004,สมศักดิ์,22.000000,ช,-1.00,168.0,70.0,10.0,2023-12-30,วิทยาศาสตร์,...,False,True,False,False,False,False,False,False,False,False
4,64005,สมใจ,19.000000,ญ,3.89,160.0,52.0,30.0,2024-01-27,วิศวะ,...,False,False,False,False,False,False,False,True,False,False
5,64006,กานต์,150.000000,ชาย,3.12,172.0,75.0,12.0,2023-12-23,Engineering,...,False,False,False,False,False,False,False,False,False,False
6,64007,กิตติ,21.000000,หญิง,4.50,158.0,48.0,35.0,2024-01-05,วิศวกรรม,...,False,False,False,False,True,False,False,False,False,False
7,64008,จิรา,20.000000,F,2.98,180.0,82.0,18.0,2024-01-23,ศิลปศาสตร์,...,False,False,False,False,False,False,False,False,True,False
8,64009,ชนาธิป,23.000000,M,3.34,163.0,55.0,22.0,2024-02-11,ศิลปศาสตร์,...,False,False,False,False,False,False,False,False,False,False
9,64010,ดารา,21.000000,หญิง,3.56,167.0,60.0,28.0,2024-01-03,ศิลปศาสตร์,...,False,False,False,False,False,False,False,False,False,True
10,64011,ธีระ,28.470588,NaN,3.78,NaN,68.0,NaN,2024-01-07,วิทยาศาสตร์,...,True,False,False,False,False,False,False,False,False,False
11,64012,นภา,22.000000,ชาย,NaN,171.0,NaN,16.0,2023-12-26,วิทยาศาสตร์,...,False,False,False,True,False,False,False,False,False,False
12,64013,บุญมี,20.000000,หญิง,3.23,169.0,72.0,24.0,2023-12-26,วิศวฯ,...,False,False,False,False,False,False,True,False,False,False
13,64014,ปรีชา,21.000000,ชาย,3.45,164.0,54.0,19.0,2024-01-08,Liberal Arts,...,False,False,False,False,False,False,False,False,False,False
14,64015,พิมพ์,22.000000,Female,3.67,162.0,56.0,26.0,2024-02-06,Sci,...,False,False,False,False,False,False,False,False,False,False
15,64016,ภูมิ,19.000000,ช,3.89,173.0,78.0,14.0,2024-01-20,วิทยาศาสตร์,...,False,False,True,False,False,False,False,False,False,False
16,64017,มานี,20.000000,ญ,3.01,166.0,62.0,21.0,2024-01-24,วิศวกรรมศาสตร์,...,False,False,False,False,False,True,False,False,False,False
17,64018,ยุพา,21.000000,หญิง,3.23,161.0,50.0,27.0,2024-01-08,วิทยาศาสตร์,...,True,False,False,False,False,False,False,False,False,False
18,64019,รัตนา,28.470588,ชาย,NaN,174.0,76.0,NaN,2023-12-18,ศิลปศาสตร์,...,False,False,False,False,False,False,False,False,True,False
19,64020,ลัดดา,22.000000,NaN,3.45,168.0,64.0,23.0,2024-01-06,วิทยาศาสตร์,...,True,False,False,False,False,False,False,False,False,False

In [40]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2

In [42]:
df['สุขภาพ'] = pd.cut(df['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

In [43]:
df[['ชื่อ', 'BMI', 'สุขภาพ']]

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN        NaN    NaN
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ        NaN    NaN
11       นภา        NaN    NaN
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ